<!DOCTYPE html>

<html>

    <head>
        <title>About | Ruby on Rails Tutorial Sample App</title>
    </head>
    
    <body>
    
        <h1>StaticPages#about</h1>
        
        <p>This is the about page so my tests fucking pass</p>
    
    </body>

</html>